* {
 box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
}

/* Basic/Mobile Styling: */

nav {
  background-color: #FFFFFF;
}

nav div {
  margin-right: 10px;
}

h1 {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
  float: left;
  margin: 20px;
}

a h1:hover {
  opacity: 0.7;
}

menu {
  float: right;
}

a:focus {
  outline: 0;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 26px;
  height: 16px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 26px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -6px; }

.hamburger-inner::after {
  bottom: -6px; }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease; }
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

ul {
  padding: 0;
  margin: 0 20px;
  transition: max-height 0.5s;
  max-height: 0;
  overflow: hidden;
}

.visible {
  max-height: 606px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #000000;
}

li:first-child {
  border-top: 1px solid #000000;
}

li:last-child {
  margin-bottom: 20px;
}

li:hover, li:focus, menu:hover .menubutton, menu:hover .menubutton {
  font-weight: bolder;
}

a, a:visited {
  text-decoration: none;
  color: #000000;
}

main {
  margin: 0 auto;
  font-size: 0;
}

article {
  padding: 20px;
}

h2 {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 10px;
}

.image-container {
  display: inline-block;
}

img {
  width: 80%;
}

.left-strip {
  transform: rotate(-90deg);
  padding-right: 50%;
  display: inline-block;
}

.right-strip {
  transform: rotate(90deg);
  padding-right: 50%;
  display: inline-block;
}

/* Responsive Article Styling: */

@media (min-width: 480px) { /* mobile-landscape */

}

@media (min-width: 650px) { /* tablet-portrait */

}

@media (min-width: 940px) { /* tablet-landscape/smaller laptops */

}

@media (min-width: 1220px) { /* laptops/desktops */

}
